@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Nohemi';
  src: url('/src/assets/fonts/Nohemi-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

body {
  font-family: 'Nohemi', sans-serif;
}

